.header {
   padding: 30px;
  text-align: center;
  background-color: rgb(6, 124, 2);
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline overline #f1eceb;
  font-size: 35px;
  text-transform: uppercase;
  width: 100%;

 
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
