.btn {
  background-color: rgba(120, 168, 32, 0.5);
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}
