.modal-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(13, 65, 34, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  border-radius: 5px;
  background-color: rgba(14, 111, 49, 0.677);
  width: 516px;
  padding-bottom: 35px;
}
.modal__header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: rgba(7, 88, 41, 0.744);
}
.modal__header-text {
  font-size: 22px;
  color: rgb(255, 255, 255);
}
.modal__header-btn {
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: url(./cross.png) center center / cover no-repeat;
  width: 20px;
  height: 20px;
}
.modal__wrap-text {
  font-size: 15px;
  padding: 10px 45px;
  color: rgb(255, 255, 255);
  line-height: 2;
  text-align: center;
  margin-bottom: 20px;
}
.btn-wrap {
  display: flex;
  justify-content: center;
}
.modal__btn {
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  background-color: rgb(179, 56, 44);
  font-size: 17px;
  padding: 20px 15px;
}
.modal__btn:first-of-type {
  margin-right: 30px;
}
