.header {
  width: 100%;
  padding: 30px;
  text-align: center;
  background-color: rgba(101, 138, 91, 0.671);
  font-size: 25px;
  text-transform: uppercase;
}
.nav {
  display: flex;
  justify-content: flex-end;
}
.nav__item {
  list-style: none;
  font-size: 25px;
  margin-left: 35px;
}
.nav__link {
  text-decoration: none;
  color: rgba(16, 87, 9, 0.674);
}
.link-selected {
  font-weight: bold;
  color: rgb(22, 76, 7);
}
