* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1900px;
    margin-left: 30px;
  

}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item {
    position: relative;
    list-style: none;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: rgb(252, 246, 209);
    padding: 15px;
    width: 30%;
}

.item__name {
    margin-right: 10px;
    font-size: 40px;
   
}

.item__email {
    font-size:16px;
    font-weight: bold;
    color: rgb(0, 114, 69);
}

.item__title {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 400;
}

.item__body {
    font-size: 20px;
}

.button-delete {
    font-size: 20px;
    color: rgb(20, 20, 24);
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 6px;
    background-color: red;
}
