.header {
  width: 100%;
  padding: 30px;
  text-align: center;
  background-color: rgba(140, 168, 112, 0.759);
  font-size: 35px;
  text-transform: uppercase;
}
.nav {
  display: flex;
  justify-content: flex-end;
}
.nav__item {
  list-style: none;
  font-size: 25px;
  margin-left: 35px;
}
.nav__link {
  text-decoration: none;
  color: rgba(38, 73, 9, 0.767);
}
.link-selected {
  font-weight: bold;
  color: rgb(18, 53, 6);
}
