.card {
  background-color: rgb(255, 255, 255);
  list-style-type: none;
  padding: 8px 17px;
  width: 214px;
  border: 1px solid rgba(167, 184, 154, 0.79);
  border-radius: 13px;
  margin: 15px 13px;
}
.card__img-wrap {
  height: 278px;
}
.card__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__img {
  width: 100%;
}
.card__title {
  height: 39px;
  overflow: hidden;
}
.card__info {
  font-size: 16px;
  font-weight: bold;
}
.card__info-wrap {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.card__info-arcicle {
  font-style: italic;
}
.card__info-price {
  font-weight: bold;
  font-size: 21px;
}
.card__btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 5px;
}
.card__btn-close {
  border: none;
  outline: none;
  color: rgba(117, 145, 104, 0.459);
  background: url(./simple-cross.png) center center / cover no-repeat;
  width: 20px;
  height: 20px;
}
