.card {
  list-style-type: none;
  padding: 17px;
  width: 214px;
  border: 1px solid rgba(19, 149, 77, 0.304);
  border-radius: 10px;
  margin: 15px 5px;
}
.card__img-wrap {
  height: 278px;
}
.card__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__img {
  width: 100%;
}
.card__title {
  height: 39px;
  overflow: hidden;
}
.card__info {
  font-size: 16px;
  font-weight: bold;
}
.card__info-wrap {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.card__info-arcicle {
  font-style: italic;
}
.card__info-price {
  font-weight: bold;
  font-size: 21px;
}
